{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}ку-ку2{% endblock %}

{% block content %}
<h2 class="text-center">Оформление заказа</h2>
<br>
<div class="h5" style="padding: 0 50px">
    <table class="table shadow" style="background: #e5fcff">
        <thead>
        <tr>
            <th scope="col" style="width: 600px">Товары</th>
            <th scope="col">Цена BYN</th>
            <th scope="col">Количество/Добавить</th>
            <th scope="col">Сумма всего</th>
            <th scope="col" style="width: 130px">Удалить с корзины</th>
        </tr>
        </thead>
        <tbody>
        {% for object in cart.book_in_cart.all %}
        <tr>
            <td>
                {% if object.book.image %}
                <img src="{{ object.book.image.url }}" height="100" width="70">&nbsp;&nbsp;
                {% else %}
                <img src="/media/images/no_images/no_cover1.jpg" height="100" width="70">&nbsp;&nbsp;
                {% endif %}
                {% for object in object.book.author.all %}
                {{ object }}
                {% endfor %}&nbsp;
                "{{ object.book.name }}"
            </td>
            <td>{{ object.book.price }}</td>
            <td>
                {{ object.quantity }}
                <a href="{% url 'add-to-cart' object.book.pk %}?next={% url 'cart-view' %}"
                   class="btn btn-outline-primary">
                   <div><i class="fas fa-plus"></i>
                       <i class="fas fa-minus"></i></div><i class="fas fa-cart-plus h5"></i>
                </a>
            </td>
            <td>{{ object.price_total }}</td>
            <td class="text-center">
                <a class="btn btn-outline-danger" href="{% url 'book-in-cart-delete' object.pk %}">
                    <i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <th>Итого</th>
            <th></th>
            <th>{{ object.book_in_cart_count }} шт.</th>
            <th>{{ object.total_price }} BYN</th>
            <th></th>
        </tr>
        </tbody>
    </table>
    <br><br>
    {% if object.book_in_cart_count > 0 %}
    <div style="padding: 0 180px">
        <h3 class="text-center">Контактная информация</h3>
        <hr>
        <h6>* Поля обязательного заполнения</h6>
        <form action="{% url 'order-create' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-success btn-lg shadow" type="submit">Подтвердить заказ
                ({{ object.total_price }} BYN)
            </button>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}