{% extends 'base.html' %}
{% load NoneTrueFalse %}

{% block title %}Книги{% endblock %}

{% block content %}
<div class="form-inline">
    <form action="" method="get" class="form-inline">
        {{ form.active }}&nbsp;<h3>Доступна для заказа</h3>&nbsp;&nbsp;
        <input class="form-control btn-lg mr-sm-2 shadow" type="search" placeholder="Поиск"
               aria-label="Search"
               name="search">
        <button class="btn btn-outline-secondary shadow" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <a style="position: relative; margin-left: auto" href="{% url 'book-create' %}">
        <button class="btn btn-outline-success btn-lg shadow" type="submit">Добавить</button>
    </a>
</div>
<br>
<table class="table shadow h5" style="background: #e5fcff">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название книги</th>
        <th>Обложка</th>
        <th>Цена</th>
        <th>Автор</th>
        <th>Количество книгв наличии</th>
        <th>Достурна для заказа</th>
        <th>Рейтинг</th>
        <th>Дата и время создания</th>
        <th>Дата и время изменения</th>
        <th style="width: 165px">Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <td>{{ object.pk }}</td>
        <th scope="row">{{ object.name }}</th>
        {% if object.image %}
        <td><img src='{{ object.image.url }}' height="120" width="80"/></td>
        {% endif %}
        <td>{{ object.price }}</td>
        <td>
            {% for object in object.author.all %}
            {{ object }}
            {% endfor %}
        </td>
        <td>{{ object.sum }}</td>
        <td>{{ object.active | boolparser}}</td>
        <td>{{ object.rating }}</td>
        <td>{{ object.creation_date }}</td>
        <td>{{ object.update_date }}</td>
        <td>
            <a class="btn btn-outline-info" href="{% url 'book-detail' object.pk %}"><i class="far fa-eye"></i></a>
            <a class="btn btn-outline-warning" href="{% url 'book-update' object.pk %}"><i
                    class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-outline-danger" href="{% url 'book-delete' object.pk %}"><i
                    class="fas fa-trash-alt"></i></a>
<!--            (?next=/book/list/ для того чтобы отправляло туда где был, для каждой html свой адрес)-->
<!--            <a href="{% url 'add-to-cart' object.pk %}?next=/book/list/" class="card-link">-->
<!--                <div class="card-footer">-->
<!--                    <h5>{{ object.price }}&nbsp;&nbsp; <i class="fas fa-shopping-cart"></i>&nbsp;В корзину</h5>-->
<!--                </div>-->
<!--            </a>-->
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
