{% extends 'wrapper.html' %}
{% load NoneTrueFalse %}

{% block title %}Книги{% endblock %}

{% block content %}
<form action="" method="get" class="form-inline">
    <h3>Доступна для заказа</h3>{{ form.active }}
    <input class="form-control btn-lg mr-sm-2 shadow" type="search" placeholder="Введите ключевое слово"
           aria-label="Search"
           name="search">
    <button class="btn btn-outline-success btn-lg my-2 my-sm-0 shadow" type="submit">Поиск</button>
</form><br>
<h5>
    <table class="table table-secondary shadow">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название книги</th>
            <th scope="col">Обложка</th>
            <th scope="col">Цена</th>
            <th scope="col">Автор</th>
            <th scope="col">Количество книгв наличии</th>
            <th scope="col">Достурна для заказа</th>
            <th scope="col">Рейтинг</th>
            <th scope="col">Дата и время создания</th>
            <th scope="col">Дата и время изменения</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.pk }}</td>
            <th scope="row">{{ object.name }}</th>
            <td><img src='{{ object.image.url }}' height="120" width="80"/></td>
            <td>{{ object.price }}</td>
            <td>
                {% for object in object.author.all %}
                {{ object }}
                {% endfor %}
            </td>
            <td>{{ object.sum }}</td>
            <td>{{ object.active | boolparser}}</td>
            <td>{{ object.rating }}</td>
            <td>{{ object.creation_date }}</td>
            <td>{{ object.update_date }}</td>
            <td>
                <a href="{% url 'book_dv' object.pk %}"><i class="far fa-eye"></i></a>&nbsp;
                <a href="{% url 'book_uv' object.pk %}"><i class="fas fa-pencil-alt"></i></a>&nbsp;
                <a href="{% url 'book_del_v' object.pk %}"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</h5>
<a href="{% url 'book_cv' %}">
    <button class="btn btn-outline-success btn-lg my-2 my-sm-0 shadow" type="submit">Добавить</button>
</a>
{% endblock %}
